!!!
%html
  %head
    %title ООО Крыминфоком
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    = csrf_meta_tags
  %body
    %header
      = render 'layouts/header'
    %section.hover
      = render 'layouts/hover'
    %section.request
      = render 'layouts/request'
    %section.services
      = render 'layouts/services'
    %section.wrapper
      .container
        .row
          .col-lg-12
            = yield